<h1>Movies Overview</h1>

<%= form_with url: movies_path, method: :get, local: true do %>
  <div>
    <%= label_tag :search, "Search by Actor:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Filming Locations</th>
      <th>Reviews</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director.name %></td>
        <td>
          <ul>
            <% movie.actors.each do |actor| %>
              <li><%= actor.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% movie.locations.each do |location| %>
              <li><%= location.name %>, <%= location.country %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% movie.reviews.each do |review| %>
              <li><% review.stars.times do %>
                ⭐
              <% end %><%= review.user %>: <%= review.review %></li>
            <% end %>
          </ul>
        </td>
        <td><%= movie.cached_average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
